#actuadores{
    border-radius: 28px 0px   0px 28px;
    background: -moz-linear-gradient(black, #606060);
    background: -webkit-linear-gradient(black, #606060);
    width:200px;
}
#sensores{
    border-radius: 0px 28px   28px 0px;
    background: -moz-linear-gradient(black, #606060);
    background: -webkit-linear-gradient(black, #606060);
    width:200px;
}
.actuador{                
    width:100px;           
    float: right;                
}
.sensor{                
    width:100px;           
    float: right;                
}

#cultivos{
    width:150px;
    height: 270px;
    background: -moz-linear-gradient(black, #606060);
    background: -webkit-linear-gradient(black, #606060);
    margin: 0 auto;
}
#contenedor{
    border-radius: 58px 58px 58px 58px;
    width:300px;
    background: -moz-linear-gradient(black, #606060);
    float: outside;
    margin: 0 auto;
}
#botones{
    float: outside;
    margin: 0 auto;
}
.rotulos{
    text-align: center;
    color: window;
}